<aside id="hotbar"> 
  <div id="hotbar-controls-left" class="flexrow" data-tooltip-direction="LEFT">
    <nav id="hotbar-controls">
      <button type="button" class="button-small ui-control fa-solid {{#if tokenHotbar}}fa-code{{else}}fa-user{{/if}} icon" data-action="swap" data-tooltip="{{#if tokenHotbar}}{{localize 'PGT.HOTBAR'}}{{else}}{{localize 'PGT.TOKEN'}}{{/if}}"></button>
      <button type="button" style="margin-top: 2px;" class="button-small ui-control fa-solid fa-volume icon" data-action="mute" data-tooltip="{{localize 'HOTBAR.MUTE'}}"></button>
      <button type="button" style="margin-top: 2px;" class="button-small ui-control fa-solid fa-bars icon" data-action="menu" data-tooltip="{{localize 'HOTBAR.MENU'}}"></button>
    </nav>

    {{#if showTokenHotbar}}
    <nav id="hotbar-controls" style="margin-left: 5px;">
      <button type="button" class="button-wide ui-control fa-solid {{filter.icon}} icon filter-button slot full" data-action="filter" data-tooltip="{{localize 'PGT.FILTER'}}{{filter.label}}"></button>
      <button type="button" style="margin-top: 2px;" class="button-wide ui-control fa-solid fa-fill-drip icon" data-action="autofill" data-tooltip="{{localize 'PGT.FILL'}}"></button>
      <button type="button" style="margin-top: 2px;" class="button-wide ui-control fa-solid fa-gears icon" data-action="config" data-tooltip="{{localize 'PGT.CONFIG'}}"></button>
    </nav>
    {{/if}}
  </div>
    
  </div>
  {{#if showTokenHotbar}}
  {{!-- Token Hotbar --}}
  {{!-- Token Effects Tracker --}}
  <menu id="action-bar" data-tooltip-direction="UP">
    {{!-- Section B --}}
    <div class="section">
      <div class="upper-wrapper reverse-direction">
        {{#ifCond effects.position '===' "sectionB"}}
        {{> "modules/pazindor-token-hotbar/template/token-hotbar/effects-tracker.hbs"}}
        {{else}}<div></div>{{/ifCond}}
      </div>
      
      <div class="section-wrapper" style="grid-template-rows: repeat({{sectionBRows}}, minmax(0, 1fr));">
      {{#each sectionB as |item index|}}
      <li class="slot {{item.borderColor}} {{#if item.system.toggle.toggledOn}}outline{{/if}} {{#if item.name}}full{{/if}} {{#if item.filterOut}}filter-out{{/if}} item-slot" role="button" data-action="roll" data-index="{{index}}" {{#if item.name}}data-hover="tooltip"{{/if}} data-section="sectionB">
        {{#if item.slotKeybind}}<span class="slot-keybind">{{item.slotKeybind}}</span>{{/if}}
        {{#if item.actionMarker}}<i class="action-type fa-solid {{item.actionMarker}}"></i>{{/if}}
        {{#if item.reactionMarker}}<i class="is-reaction fa-solid {{item.reactionMarker}}"></i>{{/if}}
        {{#if item.img}}<img class="slot-icon" src="{{item.img}}">{{/if}}
        {{#ifCond item.showCharges '!==' undefined}}<span class="show-charges">{{item.showCharges}}</span>{{/ifCond}}
        {{#if item.system.statuses.equipped}}<i class="equipped fa-solid fa-suitcase-rolling"></i>{{/if}}
      </li>
      {{/each}}
      </div>
    </div>
    
    {{!-- Character Details --}}
    {{#if img}}
    <div class="portrait-wrapper">
      {{{resources}}}

      <img class="char-img portrait" data-tooltip="{{localize "PTH.DBCLICK"}}" src="{{@root.img}}">

      {{!-- HP Bar --}}
      <div class="resource margin-top-10" data-tooltip="{{localize 'PTH.CURRENT_HP'}}">
        {{#if health.tempPath}}
        <div class="above-bar margin-top-auto">
          <div class="temporary-hp" data-tooltip="{{localize 'PTH.TEMPORARY_HP'}}">
            <input class="temporary-input" data-cType="actor-numeric" data-path="{{health.tempPath}}" type="number" value="{{health.temp}}" data-dtype="Number" placeholder="+Temp">
          </div>
        </div>
        {{/if}}
        
        <div class="resource-bar-wrapper">
          <a class="health spend-resource" data-action="spendResource" data-resource="health" data-tooltip="{{localize "PTH.SPEND_HP"}}"><i class="fas fa-solid fa-minus"></i></a>
          <div class="resource-bar">
            <div class="health-bar" style="width: {{health.percent}}%"></div>
            <div class="resource-content">
              <div class="resource-values">
                <input class="bar-input" data-cType="actor-numeric" data-path="{{health.currentPath}}" type="number" value="{{health.current}}" data-dtype="Number">
                <span class="separator"> / </span>
                <input disabled class="bar-input" type="number" value="{{health.max}}" data-dtype="Number">
              </div>
            </div>
          </div>
          <a class="health regain-resource" data-action="regainResource" data-resource="health" data-tooltip="{{localize "PTH.REGAIN_HP"}}"><i class="fas fa-solid fa-plus"></i></a>
        </div>
      </div>
    </div>
    {{/if}}

    {{!-- Section A --}}
    <div class="section">
      <div class="upper-wrapper">
        {{#ifCond effects.position '===' "sectionA"}}
        {{> "modules/pazindor-token-hotbar/template/token-hotbar/effects-tracker.hbs"}}
        {{else}}<div></div>{{/ifCond}}
      </div>
      <div class="section-wrapper" style="grid-template-rows: repeat({{sectionARows}}, minmax(0, 1fr));">
      {{#each sectionA as |item index|}}
      <li class="slot {{item.borderColor}} {{#if item.system.toggle.toggledOn}}outline{{/if}} {{#if item.name}}full{{/if}} {{#if item.filterOut}}filter-out{{/if}} item-slot" role="button" data-action="roll" data-index="{{index}}" {{#if item.name}}data-hover="tooltip"{{/if}} data-section="sectionA">
        {{#if item.slotKeybind}}<span class="slot-keybind">{{item.slotKeybind}}</span>{{/if}}
        {{#if item.actionMarker}}<i class="action-type fa-solid {{item.actionMarker}}"></i>{{/if}}
        {{#if item.reactionMarker}}<i class="is-reaction fa-solid {{item.reactionMarker}}"></i>{{/if}}
        {{#if item.img}}<img class="slot-icon" src="{{item.img}}">{{/if}}
        {{#ifCond item.showCharges '!==' undefined}}<span class="show-charges">{{item.showCharges}}</span>{{/ifCond}}
        {{#if item.system.statuses.equipped}}<i class="equipped fa-solid fa-suitcase-rolling"></i>{{/if}}
      </li>
      {{/each}}
      </div>
    </div>
  </menu>
  {{else}}

  {{!-- Macro Hotbar --}}
  <menu id="action-bar" class="flexrow" data-tooltip-direction="UP">
    {{#each slots as |slot|}}
    <li class="slot {{slot.cssClass}}" role="button" data-action="execute" data-slot="{{slot.slot}}"
      style="{{slot.style}}" aria-label="{{slot.ariaLabel}}" {{#if slot.tooltip}}data-tooltip-text="{{slot.tooltip}}"
      {{/if}}>
      {{#if slot.img}}<img class="slot-icon" src="{{slot.img}}" alt="{{slot.ariaLabel}}">{{/if}}
      <span class="key">{{slot.key}}</span>
    </li>
    {{/each}}
  </menu>
  {{/if}}

  <div id="hotbar-controls-right" class="hotbar-controls flexrow" data-tooltip-direction="RIGHT">
    {{#unless showTokenHotbar}}
    <nav id="hotbar-page-controls" class="flexcol">
      <button type="button" class="plain hotbar-page-control page-next fa-solid fa-triangle icon" data-action="page"
        data-direction="1" data-tooltip="{{localize 'HOTBAR.PAGE_NEXT'}}">
      </button>
      <span class="hotbar-page-number">{{page}}</span>
      <button type="button" class="plain hotbar-page-control page-prev fa-solid fa-triangle icon" data-action="page"
        data-direction="-1" data-tooltip="{{localize 'HOTBAR.PAGE_PREV'}}">
      </button>
    </nav>
    {{else}}
    {{#if img}}
    <div class="flexcol hotbar-controls" style="justify-content: end; height: 100%;">
      {{!-- BUTTONS --}}
      {{!-- What could go there? - per system config --}}

      {{!-- <button type="button" class="button-large ui-control fa-solid fa-dice icon" data-action="check" data-tooltip="{{localize 'HOTBAR.CHECK'}}"></button> --}}
    </div>
    {{/if}}
    {{/unless}}
    <div class="flexcol">
      <button type="button" class="ui-control fa-solid fa-unlock icon" data-action="lock" data-tooltip
        aria-label="{{localize 'HOTBAR.LOCK'}}" {{#if showTokenHotbar}}style="visibility: hidden; height: 0px; width: 0px;"{{/if}}></button>
      <button type="button" class="ui-control fa-solid fa-trash icon" data-action="clear" data-tooltip
        aria-label="{{localize 'HOTBAR.CLEAR'}}" {{#if showTokenHotbar}}style="visibility: hidden; height: 0px; width: 0px;"{{/if}}></button>
    </div>
  </div>
</aside>